<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    package="com.example.cs493.homework">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="26" />

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS" />

    <uses-permission
        android:name="android.permission.READ_PROFILE" />

    <uses-permission
        android:name="android.permission.READ_CONTACTS" />

    <uses-permission
        android:name="android.permission.CALL_PHONE" />

    <uses-permission
        android:name="android.permission.SEND_SMS" />

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:theme="@ref/0x7f0d0006"
        android:label="@ref/0x7f0c0021"
        android:icon="@ref/0x7f0b0000"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:roundIcon="@ref/0x7f0b0001">

        <activity
            android:label="@ref/0x7f0c0021"
            android:name="com.example.cs493.homework.LoginActivity">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.support.VERSION"
            android:value="26.1.0" />

        <meta-data
            android:name="android.arch.lifecycle.VERSION"
            android:value="27.0.0-SNAPSHOT" />
    </application>
</manifest>
